<body class="fixed-sn light-blue-skin" aria-busy="true">
    
    <%= render 'chats/header' %>

    <main>
      <div class="container-fluid">
        <%= render 'chats/addfriend' %>

        <%= render 'chats/chatroomlist' %>

        <div class="row">
            <div class="col-md-6">
              <%= render 'chats/chatwindow' %>
            </div>
            <div class="col-md-6">
              <%= render 'chats/chatroommanage' %>
            </div>
        </div>

      </div>
    <%= render 'chats/messagetoastr' %>
    </main>

<%= render 'layouts/footer' %>

</body>