<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Chatbot</title>

  <link rel="shortcut icon" href="/img/favicon-1.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/css/mdb.min.css">
  <link rel="stylesheet" href="/css/chart.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/chat.css">

  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= include_sync_config %>
  <%= csrf_meta_tags %>

</head>

<%= yield %>

<%= render 'layouts/flash' %>

</html>
